header
    div(class="header-bottom-w3layouts")
        div(class="main-w3ls-logo")
            h1
                a(href="index.html") <span class="fa fa-check-square-o", aria-hidden="true"> </span> Guru Aashram
        nav(class="navbar navbar-default")
            div(class="navbar-header")
                button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
            div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav")
                    li 
                        a(href="index.html") Home
                    li
                        a(href="about.html") About
                    li
                        a(class="active", href="courses.html") Courses
                    li
                        a(href="institutes.html") Institutes
                    li(class="dropdown")
                        a(href="#" class="dropdown-toggle" data-toggle="dropdown") Pages 
                            b(class="caret") 
                        ul(class="dropdown-menu")
                            li 
                                a(href="icons.html") Web Icons
                            li
                                a(href="typography.html") Typography
                    li
                        a(href="contact.html") Contact
                    if !loggedIn
                        li
                            a(href="/login") Login
                    else
                        li
                            a(href="/logout") Logout

