<!DOCTYPE html>
html(lang="en")
    include layout/head.pug
    body
        div(class="banner inner-banner", id="home")
            div(class="container")
                include layout/header.pug
                div(class="clearfix")
        div(class="courses")
            div(class="container")
                h5(class="main-w3l-title") Courses
                if data.length > 0
                    each prod in data
                        div(class="col-md-4 courses-info")
                            h5 #{prod.title} 
                            div(class="c-image")
                                img(src="images/t1.jpg" alt=" " class="img-responsive")
                                h6 Trainer Name
                                div(class="clearfix")
                            if loggedIn
                                form(action='/deleteCourse/' +  prod._id, method="GET", onsubmit="return confirm('Do you really want to Delete this course?');")
                                    input(type="submit", value="Delete Course", style="BACKGROUND-COLOR: red")
                            div(class='buttons', style="padding-bottom: 12px;")
                            p(class="numbers") <span> 20 </span> Students
                            p(class="paragraph-agileinfo") #{prod.details}
                            p(class="batch") Batch Starts from 
                                span #{prod.startingDate}
    include layout/footer.pug


    script(type='text/javascript', src='js/jquery-2.2.3.min.js')

    script(src="js/main.js")

    script(type="text/javascript", src="js/move-top.js")
    script(type="text/javascript", src="js/easing.js")
    script(type="text/javascript").
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    script(type="text/javascript").
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

            
        
        });
        
    script(src="js/bootstrap.js")