 div(class="courses")
            div(class="container")
                h5(class="main-w3l-title") Courses
                div(class="courses")
                    div(class="container") 
                        ul(class="form-buttons")
                            li 
                                a(href="#", data-toggle="modal", data-target="#myModal3") Add Course
            div(class="modal fade" id="myModal3" tabindex="-1" role="dialog")
                div(class="modal-dialog")
                    div(class="modal-content")
                        div(class="modal-header")
                            button(type="button" class="close" data-dismiss="modal") &times;

                            div(class="signin-form profile")
                                h3(class="register-title") Add Courses
                                div(class="login-form")
                                    form(action="#" method="post")               
                                        div(class="fields")
                                            input(type="text" name="title" placeholder="Course Name" required="")
                                        div(class="fields")
                                            input(type="text" name="name" placeholder="Techer Name" required="")
                                        div(class="fields")
                                            input(type="text" name="About" placeholder="About the course" required="")
                                        div(class="fields")
                                            select(id="country1" onchange="change_country(this.value)" class="frm-field required sect")
                                                option(value="") Class time
                                                option(value="") Morning from 6.00
                                                option(value="") Evening from 4.00
                                                option(value="") Both Morning and Evening
                                        h5 Batch Start Date
                                        div(class="fields")
                                            input(type="date" name="date" placeholder="Batch Start Date" required="")
                                        input(type="submit" value="Submit")